.relatorio {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.relatorio h3 {
    color: #000;
    font-family: Arsenal;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right {
    display: flex;
    align-items: center;
    gap: 45px;
    font-size: 22px;
}

.dates {
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.dates .item {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 40px;
}

.item input {
    height: 25px;
}

.item h3 {
    font-size: 18px;
}

.items {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.items .item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1045px;
    height: 95px;
    background-color: #D9D9D9;
}

.item a {
    border: none;
    background: #0BA2ED;
    color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.item a:hover {
    background: #087db8;
    transition: 0.3s;
}

.aulas {
    display: flex;
    justify-content: center;
    width: 100%;
}

.aulas .content {
    display: flex;
    width: 1040px;
    justify-content: flex-start;
}

.aulas h3 {
    color: #000;

    font-family: Arsenal;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}